<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Trackmygarb - my grocery list</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">
    <script src="/static/js/jquery-2.1.3.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })
    </script>
    <style type="text/css">

        #rounded {
            border: 2px solid #7087a1;
            padding: 10px 20px;
            background: #d8dcee;
            border-radius: 10px;
            max-width: 350px;
        }

         #category-table {
            max-width: 300px;
             border: 0px;
         }

         #category-table tbody tr > td.success {
             background-color: #8cbfee !important;
        }

        #todo-table {
            max-width: 1000px;
        }
        #todo-table tbody tr.success {
            background-color: #8cbfee !important;
        }
        #grocerylist-table {
            max-width: 1000px;
        }

        form {
            display: inline-block;
        }

    </style>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">{{ icon('home') }}GROCERY LIST</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>


<footer id="footer">
    <div class="container">
        <hr>
        <p class="text-center"> <font size="2">Grocery List App built using Flask, SQLAlchemy, Heroku, PostgreSQL and Twitter Bootstrap </font></p>
    </div>
</footer>


</body>
</html>
