{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}
<div class="container-fluid">
    <div class="row">
	{# grocery list #}
        <div class="col-md-8">
	<a class="btn btn-lg btn-block"  href="{{ url_for('logout') }}" >{{ icon('log-out') }} LOGOUT</a>
	</table>
            {% if grocerylist|count > 0 %}
            <table id="grocerylist-table" class="table">
               <tr>
                    <th><font size="6">{{ icon('list') }}</font></th>
                    <th><font size="6">Product Details</font></th>
		    <th>
		    <a class="btn btn-lg btn-primary btn-block"  href="{{ url_for('new_category') }}" ><font size="7">{{ icon('plus') }} </font></a>
		    </th>
                </tr>
                {%- for glist in grocerylist %}
                    <tr {% if glist.is_purchased %}class="success"{% endif %}>
                        <td>  
			<form id=delform action="{{ url_for('delete_glist', glist_id=glist.id) }}" method="post">
				<button type="submit" class="btn btn-lg btn-danger btn-block">
					<font size="6"> {{icon('trash')}} {{ loop.index }} </font>
				</button>
			</form> 
			</td>
                        <td {% if glist.is_purchased %}style="text-decoration:line-through"{% endif %}><font size="6">{{ glist.productname }}</font>
			<table>
                        <tr><td><font size="5">${{ glist.price }}</font></td></tr>
                        <tr><td><font size="5">Type: {{ glist.cat }}, {{ glist.subcat }} , <font size="4">Time: {{ glist.logtimestamp }}</font> </font></td></tr>
			</table>
			</td>
                        <td>
			<table><tr>
			    <td>
			    <a class="btn btn-lg btn-warning {% if glist.is_purchased %} disabled{% endif %}" style="margin-right:30px" href="{{ url_for('update_grocerylist', glist_id=glist.id) }}" ><font size="9">{{ icon('edit') }}</font></a>
			    </td>
			    <td>
                            <form id=isdone action="{{ url_for('mark_done', glist_id=glist.id) }}" method="post">
				<button type="submit" class="btn btn-lg btn-success ">
					<font size="9"> {{icon('check')}} </font>
				</button>
                            </form>
			    </td>
			</tr></table>
                        </td>
                    </tr>
                {%- endfor %}
            </table>
            {% else %}
            <h3 class=lead>No Grocery List Yet</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
