{% extends "layout.html" %}
{% from 'macros.html' import icon %}
{% block content %}
    <form action="" method=post class="form-horizontal">

    {% if grocerylist is defined %}
        <h2>Edit GroceryList</h2>
    {% else %}
        <h2>Enter Product</h2>
    {% endif %}

    <div class="control-group">

            <div class="control-group">

                <div class="controls">
                        <input type="text" id="grocerylist" name="productname" style="font-size:30px" maxlength="20" class="input-xlarge form-control"#}
                               placeholder="Please give productname"{% if grocerylist is defined %} value="{{ grocerylist.productname }}"{% endif %}
                               autofocus=1 required>
                </div>
            </div>
        </div>
<hr>
     <div class="control-group">
            <div class="controls">
             <button type="submit" class="btn  btn-lg btn-success">
                {% if grocerylist %}
                    <font size="9"> {{icon('save')}} Save</font>
                {% else %}
                    <font size="9"> {{icon('plus')}} Add</font>
                {% endif %}
             </button>
            </div>
        </div>
    </form>
{% endblock %}
